/* ?==================== Media Queries For the Font Size & Styling ====================? */
/* 1200px */
@media screen and (max-width: 75em) {
  .user-img-border {
    width: 80%;
  }
  .user-info--list {
    width: 100%;
  }
}

/* 992px */
@media screen and (max-width: 62em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }
  .user-img-border {
    box-shadow: none;
    width: 100%;
  }
  .user-img-box {
    transform: translate(0, 0);
  }
  .user-container {
    gap: 5rem;
  }
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 768px */
@media screen and (max-width: 48em) {
  html {
    /* 8px */
    font-size: 50%;
  }
  .sect-pd {
  padding-block: 6.4rem;
}

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .service .inner {
    padding: 3.5rem 4.5rem;
  }
  .nav-tabs {
    gap: 1.5rem;
  }
  .funfacts-section .container {
  grid-template-columns: 1fr;
  row-gap: 3.5rem;
}
}

/* ?==================== Media Queries For the Container ====================? */
/* 576px */
@media screen and (max-width: 36em) {
  .container {
    max-width: 100%;
  }
}
/* 576px */
@media screen and (min-width: 36em) {
  .container {
    max-width: 540px;
  }
}
/* 768px */
@media screen and (min-width: 48em) {
  .container {
    max-width: 770px;
  }
}
/* 992px */
@media screen and (min-width: 62em) {
  .container {
    max-width: 970px;
  }
}
/* 1200px */
@media screen and (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}
