/* ?==================== Media Queries For the Font Size & Styling ====================? */
/* 1200px */
@media screen and (max-width: 75em) {
  .user-img-border {
    width: 80%;
  }
  .user-info--list {
    width: 100%;
  }
}

/* 992px */
@media screen and (max-width: 62em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }
  .user-img-border {
    box-shadow: none;
    width: 100%;
  }
  .user-img-box {
    transform: translate(0, 0);
  }
  .user-container {
    gap: 5rem;
  }
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-container.grid--3-cols {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .blog-post {
  width: 85%;
  margin-inline: auto;
}
}
/* 768px */
@media screen and (max-width: 48em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .nav {
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: rgba(0, 0, 0, .9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* left: 0;
    bottom: 0;
    right: 0; */
    z-index: 999;

    /* For showing again */
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

    /* Hidden visually */
    opacity: 0;

    /* Unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide it from screen readers */
    visibility: hidden;
  }
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .nav-list {
    align-items: center;
  }
  .nav-open .nav-link {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .nav-open .mobile-icon-nav.fa-xmark {
    display: block;
  }
  .nav-open .mobile-icon-nav.fa-bars {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .sect-pd {
    padding-block: 6.4rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .service .inner {
    padding: 3.5rem 4.5rem;
  }
  .nav-tabs {
    gap: 1.5rem;
  }
  .funfacts-section .container {
    grid-template-columns: 1fr;
    row-gap: 3.5rem;
  }
  .testimonial {
    flex-direction: column;
    width: 50rem;
  }
  .testimonial-img-box {
    align-self: center;
    width: 15rem;
  }
  .form-container {
    width: 60rem;
  }
  input:nth-child(3),
  textarea {
    grid-column: span 1;
  }
}

/* 576px */
@media screen and (max-width: 36em) {
  .testimonial {
    flex-direction: column;
    width: 40rem;
  }
  .testimonial-img-box {
    align-self: center;
    width: 10rem;
  }
  .form-container {
    width: 35rem;
  }
}

/* ?==================== Media Queries For the Container ====================? */
/* 576px */
@media screen and (max-width: 36em) {
  .container {
    max-width: 100%;
  }
}
/* 576px */
@media screen and (min-width: 36em) {
  .container {
    max-width: 540px;
  }
}
/* 768px */
@media screen and (min-width: 48em) {
  .container {
    max-width: 770px;
  }
}
/* 992px */
@media screen and (min-width: 62em) {
  .container {
    max-width: 970px;
  }
}
/* 1200px */
@media screen and (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}
