/* ?==================== Start Hero Section ====================? */
.header {
  background-color: transparent;
  position: fixed;
  z-index: 99;

  padding-block: 2.3rem;
  width: 100%;

  transition: background-color 0.3s;
}
.header-scrolled {
  background-color: rgb(0, 0, 0, 0.95);
}

.header .container {
  background-color: transparent;
  text-transform: capitalize;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #ff305b;
  display: block;
  font-size: 2.5rem;
  font-weight: 800;
}
/* .nav {
  margin-left: auto;
} */
.nav-list {
  gap: 2rem;
}
.nav-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.nav-link:hover,
.nav-link.active {
  color: #ff305b;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-icon-nav {
  font-size: 3rem;
}
.mobile-icon-nav.fa-bars {
  color: #fff;
}
.mobile-icon-nav.fa-xmark {
  color: #777;
  display: none;
  transition: all 0.3s ease;
}
.mobile-icon-nav.fa-xmark:hover {
  color: #fff;
}
/* ?==================== Start Hero Section ====================? */

/* ?==================== Start Hero Section ====================? */
.hero-section {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/hero\ img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  /* Centering the container */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
}
.animated-text {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: capitalize;
  position: relative;
}
/* 
.animated-text::after {
  content: "";
  animation: typing 5s infinite cubic-bezier(0, 0, 1, 1);
} */

/* Developer - Designer */
/* @keyframes typing {
  0% {
    content: "D|";
  }
  3% {
    content: "De|";
  }
  6% {
    content: "Dev|";
  }
  9% {
    content: "Deve|";
  }
  12% {
    content: "Devel|";
  }
  15% {
    content: "Develo|";
  }
  18% {
    content: "Develop|";
  }
  21% {
    content: "Develope|";
  }
  24% {
    content: "Developer|";
  }
  27% {
    content: "Develope|";
  }
  30% {
    content: "Develop|";
  }
  33% {
    content: "Develo|";
  }
  36% {
    content: "Devel|";
  }
  39% {
    content: "Deve|";
  }
  42% {
    content: "Dev|";
  }
  45% {
    content: "De|";
  }
  48% {
    content: "D|";
  }
  51% {
    content: "|";
  }

  54% {
    content: "D|";
  }
  57% {
    content: "De|";
  }
  60% {
    content: "Des|";
  }
  63% {
    content: "Desi|";
  }
  66% {
    content: "Desig|";
  }
  69% {
    content: "Design|";
  }
  72% {
    content: "Designe|";
  }
  75% {
    content: "Designer|";
  }
  78% {
    content: "Designe|";
  }
  81% {
    content: "Design|";
  }
  84% {
    content: "Desig|";
  }
  87% {
    content: "Desi|";
  }
  90% {
    content: "Des|";
  }
  93% {
    content: "De|";
  }
  96% {
    content: "D|";
  }
  99% {
    content: "|";
  }
  100% {
    content: "|";
  }
} */
/* ?==================== End Hero Section ====================? */

/* ?==================== Start About Section ====================? */
.user-img-border {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0 8px #555 inset;
  box-shadow: 0 0 0 0.8rem #555 inset;
  /* border: 0.9rem solid #555; */
  position: relative;
  width: 65%;
  justify-self: center;
}
.user-img-box {
  transform: translate(2.4rem, 2.4rem);
  border-radius: 5px;
  overflow: hidden;
}
.user-img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.user-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.user-img-overlay i {
  font-size: 2rem;
  color: #fff;
  transition: all 0.5s;
}
.user-img-box:hover .user-img-overlay {
  top: 0;
  opacity: 1;
}
.user-img-overlay i:hover {
  color: #ff305b;
}
.info-heading {
  font-size: 3.4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  padding-left: 1.3rem;
  position: relative;
  text-transform: uppercase;
}
.info-heading::before {
  content: "";
  height: 100%;
  width: 0.4rem;
  background-color: #ff305b;
  position: absolute;
  left: 0;
  top: 0;
}
.user-info--text {
  border-bottom: 1px dashed #999;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}
.user-info--list {
  width: 80%;
  row-gap: 1rem;
}
.user-info--list li {
  text-transform: capitalize;
}
.info-title {
  color: #333;
  font-weight: 500;
}
/* ?==================== End About Section ====================? */

/* ?==================== Start Service Section ====================? */

.service-section {
  padding: 9.6rem 0 5.4rem;
}
.service .inner {
  padding: 4rem 1rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.service .inner > .tertiary-heading {
  text-transform: uppercase;
}

.service:hover .inner {
  background-color: #fff;
  -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.service-icon {
  color: #ff305b;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.service:hover .service-icon {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* ?==================== End Service Section ====================? */

/* ?==================== Start Portfolio Section ====================? */
.nav-tabs {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 5rem;
}
.nav-tab-link {
  color: #333;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}
.nav-tab-link.active {
  color: #ff305b;
}

.gallery {
  gap: 2.5rem;
}
.portfolio-img-box {
  position: relative;
}
.portfolio-img {
  width: 100%;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.4s ease 0s;
}
.portfolio-img-box:hover .portfolio-overlay {
  opacity: 0.5;
}
/* ?==================== End Portfolio Section ====================? */

/* ?==================== Start Fun Facts Section ====================? */
.funfacts-section .container {
  grid-template-columns: repeat(4, 1fr);
}
.fact-icon {
  color: #ff305b;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}
.fact-number {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.fact-title {
  color: #555555;
  font-size: 16px;
  margin: 0;
}
/* ?==================== End Fun Facts Section ====================? */

/* ?==================== Start Testimonials Section ====================? */

.testimonial {
  background-color: #f1f1f1;
  display: flex;
  gap: 2.5rem;
  padding: 4rem;
  text-align: left;
  width: 80rem;
  margin: 0 auto;
  position: relative;
}
.testimonial::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  border-width: 8.5rem;
  border-style: solid;
  border-color: #ff305b transparent transparent #ff305b; /* top - right - bottom - left */
}
.testimonial-img-box {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 25rem;
  z-index: 9;
  align-self: flex-start;
}
.testimonial-img {
  width: 100%;
}
.testimonial-content-box {
  justify-self: start;
}
.testimonial-location {
  color: #777;
  font-size: 15px;
  margin-bottom: 1rem;
}
.testimonial-location i {
  font-size: 1.3rem;
}
.testimonial-text {
  font-style: italic;
  margin-bottom: 1rem;
}
.rating-stars {
  display: flex;
  gap: 0.3rem;
  font-size: 1.6rem;
  margin-bottom: 12px;
}
.rating-star {
  color: #f1c30d;
}
.owl-theme .owl-dots .owl-dot span {
  background: rgba(0, 0, 0, 0) !important;
  border: 1px solid #ff305b;
  transition: width 0.2s !important;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #ff305b !important;
  width: 35px !important;
}

/* ?==================== End Testimonials Section ====================? */

/* ?==================== Start Blog Section ====================? */
.blog-container {
  gap: 3rem;
}
.blog-post {
  background: #ffffff;
}
.blog-img {
  width: 100%;
}
.post-content {
  padding: 2rem;
}
.date {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.blog-post .tertiary-heading {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.blog-post .tertiary-heading:hover,
.post-btn:hover {
  color: #ff305b;
}
.post-text {
  margin-bottom: 2rem;
}
.post-btn {
  font-size: 1.8rem;
  color: #333;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.aspect-ratio {
  aspect-ratio: 16/9;
}
/* ?==================== End Blog Section ====================? */

/* ?==================== Start Contact Section ====================? */
.form-container {
  width: 70rem;
  margin-inline: auto;
}
.form-container .grid {
  gap: 1.5rem;
}
input:nth-child(3),
textarea {
  grid-column: span 2;
}

input,
textarea {
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input {
  height: 4rem;
}
input:focus-within,
textarea:focus-within {
  border-color: #ff305b;
  outline: #ff305b;
  box-shadow: inset 0 0 2px rgba(255, 48, 91, 0.5);
}
textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  font-family: "Source Sans 3", sans-serif;
  color: #999;
  font-size: 1.6rem;
}

.form-container .btn {
  grid-column: span 1;
}
#recaptcha {
  margin-top: 2rem;
}
/* ?==================== End Contact Section ====================? */

/* ?==================== Start Footer ====================? */
.footer {
  background-color: #333;
  padding: 3rem 0;
}
.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer-icon {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}
.footer-icon:hover,
.footer-text span {
  color: #ff305b;
}
.footer-icon,
.footer-text {
  color: #fff;
}
/* ?==================== End Footer ====================? */
